.menu {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.logo {
    flex: 1 1 15%;
    padding: 10px 20px 10px 20px;
}

.options {
    flex: 1 1 65%;

    display: flex;
    justify-content: space-around;
}

ul li {
    display: block;
    color: black;
    float: right;
    padding: 0px 20px 5px 20px;
    width: 10%;
    height: 10%;
}

.button {
    flex: 1 1 20%;
    padding: 10px 20px 10px 20px;
}

.btn {
    border-radius: 3em;
    background-color: aqua;
    padding: 10px 20px 10px 20px;
}