.menu {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.logo {
    flex: 1 1 15%;
    padding: 10px 20px 10px 20px;
}

.options {
    flex: 1 1 65%;

    display: flex;
    justify-content: space-around;
}

ul {
    display: flex;
    margin: 0;
    list-style: none;
    column-gap: 1em;
}

ul li {
    display: flex;
    align-items: center;
}

a {
    text-decoration: none;
    color: gray;
    font-size: 12px;
}

.button {
    flex: 1 1 20%;
    padding: 10px 20px 10px 20px;
}

.btn {
    border-radius: 3em;
    background-color: aqua;
    padding: 10px 20px 10px 20px;
}