.dish-card {
    margin: 2% 10%;
    padding: 5% 5%;
    display: flex;
    flex-flow: column;
    flex-wrap: wrap;
    outline: 2px solid red;
}

@media (max-width: 800px) {
    .dish-card {
        flex: 45%;
        max-width: 50%;
    }
}

.tn {
    margin: 6px;
    border: 4px solid #eee;
    box-shadow: #555 1px 1px 8px 1px;
}

.price {
    align-items: center;
    text-align: center;
}

ul {
    list-style: none;
}

.buttons {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 2% 2%;
}

.btn {
    width: 40%;
}

.amount1 {
    width: 20%;
    text-align: center;
}

.amount2 {
    width: 60%;
    text-align: center;
}