 /*FOR DESKTOP RESOLUTIONS*/ 
 @media (min-width: 950px){
    .menu {
        width: 100%;
        height: 70px;
        padding: 2px;
        background-image: url('images/computer-networks.jpg');
        position: relative;  
    }

    /*ul {
        width: 100%;    
        min-height: 50px;
        color:black;
        overflow: visible;
    }

    ul li {
        display: block;
        color:white;
        position: relative;

        width: 150px;
        height: 30px;
        padding: 0px 10px 5px 10px;
        float: left;
    }*/

    .item {
        width: 10%;
        height: 10%;
        padding: 0% 5% 0% 5%;
        color: white;
        float: left;
    }

    .dropbtn {
        visibility: hidden;
    }

    a {
        color: white;
    }
}

/*FOR MOBILE RESOLUTIONS*/ 
@media (max-width: 950px) {
    .menu {
        width: 100%;
        height: 21px;
        padding: 2px;
        color: black; 
        position: relative;
    }

    .logo {
        width: 100%;
        color: black;
    }

    .dropbtn {
        visibility: visible;
        width: 8%;
        height: auto;
        border: 0;
        border-top: 5x solid black;
        background: white;
        position: relative;
        float: right;
    }

    /*.dropbtn {
        visibility: visible;
        width: 5%;
        height: auto;
        border: 0;
        border-top: 5x solid black;
        background: white;
        position: relative;
        float: right;
    }

    .dropbtn::before, .dropbtn::after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        border-top: 5px solid black;
        transform: translateY(10px);
    }

    .dropbtn::after {
        transform: translateY(25px);
    }*/

    .content {
        position: absolute;
        display: none;
        background-color: #f1f1f1;
        width: 100%;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        z-index: 1;
        line-height: 2em;
    }

    .item-list:hover .content {
        display: block;
    }

    /*ul {
        width: 100%;       
        color:black;
        overflow: visible;
    }

    ul li {
        display: block;   
        color:black;
        position: relative;  
        

        width: 100%;
        min-height: 21px;
        padding: 2px;
    }*/

    .item {
        width: 10%;
        height: 10%;
        padding: 0% 5% 0% 5%;
        color: black;
    }
}

