/* table */

.container{
    display: grid;
    margin: 0% 5% 0% 5%;
    grid-template-columns: 50% 50%;
    border: 1px solid black;
}

.menu-section-header {
    grid-column-start: 1;
    grid-column-end: 2;
    border: 1px solid black;

    text-align: center;
}

.main-section-header {
    grid-column-start: 2;
    grid-column-end: 3;
    border: 1px solid black;

    text-align: center;
}

.menu-section {
    grid-column-start: 1;
    grid-column-end: 2;
    border: 1px solid black;
}

.main-section {
    grid-column-start: 2;
    grid-column-end: 3;
    border: 1px solid black;
}

/* categories */

.categories {
    list-style: none;
}

/* items-toggler */

.items-toggler::before {
    content: "\25B6";
    display: inline-block;
    margin-right: 0.5rem;
    transition: 250ms ease-in-out;
}

/*.items-toggler::after {
    content: "\2610";
}*/

.items-toggler.active::before {
    transform: rotate(90deg);
}

/*.items-toggler.active::after {
    content: "\2611";
}*/

/* items */

.items {
    list-style: none;
    display: none;
}

.items.active {
    display: block;
}

/* item */

.item::before {
    content: "\2610";
}

.item.active::before {
    content: "\2611";
}