table {
    border: 2px solid black;
}

/* categories */

.categories {
    list-style: none;
}

/* items-toggler */

.items-toggler::before {
    content: "\25B6";
    display: inline-block;
    margin-right: 0.5rem;
    transition: 250ms ease-in-out;
}

.items-toggler.active::before {
    transform: rotate(90deg);
}

/* items */

.items {
    list-style: none;
    display: none;
}

.items.active {
    display: block;
}

/* item */

.item::before {
    content: "\2610";
}

.item.active::before {
    content: "\2611";
}