<div class="container">
    <div class="frame">
    <div class="form-group" *ngFor="let mark of marks">
        <input
            type="radio"
            name="mark"
            value="{{mark}}"
            [(ngModel)]="selectedMark"
            (change)=onMarkSelect() />
        {{ mark }}
        
    </div>
    <div class="form-group" *ngFor="let model of models">
        <input
            type="radio"
            name="model"
            value="{{model}}"
            [(ngModel)]="selectedModel"
            (change)=onModelSelect() />
        {{ model }}
    </div>
    <div class="form-group" *ngFor="let color of colors">
        <input 
            type="radio"
            name="color" 
            value="{{color}}" 
            [(ngModel)]="selectedColor"
            (change)=onColorSelect() />
        {{ color }}
    </div>
    <h2 *ngIf="selectedCar">{{ selectedCar }}</h2>
    </div>
</div>