.container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    column-gap: 3em;
    row-gap: 2em;
}

.figure {
    flex-basis: 30%;
    height: auto;

    border-bottom-left-radius: 5%;
    border-bottom-right-radius: 5%;

    -webkit-box-shadow: 35px 35px 22px -14px rgba(158, 169, 171, 1);
    -moz-box-shadow: 35px 35px 22px -14px rgba(158, 169, 171, 1);
    box-shadow: 35px 35px 22px -14px rgba(158, 169, 171, 1);

    font-size: 90%;
}

img {
    border-top-left-radius: 5%;
    border-top-right-radius: 5%;
}

img {
    width: 100%;
}

.caption {
    width: 90%;
    padding: 5%;
    line-height: 1.2em;
}

.utilities {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.button {
    width: 30%;
    height: 20%;
    padding: 2% 1% 2% 1%;
    margin: 5% 5%;
    border: none;
    
    background-color: red;
    text-align: center;
    text-decoration: none;
    font-size: 12px;
    color: white;
    cursor: pointer;
}

.like-comment {
    margin: 5% 5%;
}

/*RESOLUTION FOR MOBILE APPS*/

@media (max-width: 800px){
    .figure {
        flex: 48%;
        max-width: 50%;
    }
}