.container {
    display: flex;
    flex-flow: row;
    column-gap: 1em;
    justify-content: center;
}

@media (max-width: 900px) {
    .container {
        flex-wrap: wrap;
    }
}

.figure {
    float: left;
    flex-basis: 30%;
}
