.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    position: relative;
    min-height: 700px;
}

.one-pt-pool {
    align-items: center;
    position: relative;
    min-width: 300px;
    height: 300px;
    border: 3px solid blue;
    background-color: blue;
}

.two-pt-pool {
    position: absolute;
    bottom: 0;
    left: 88px;
    width: 120px;
    height: 120px;
    border: 3px solid red;
    background-color: red;
}

.five-pt-pool {
    position: absolute;
    bottom: 5%;
    left: 18px;
    width: 80px;
    height: 80px;
    border: 3px solid yellow;
    background-color: yellow;
}

#add-pts {
    width: 50px;
    height: 20px;
}

#points {
    position: absolute;
    display: flex;
    justify-content: center;
    bottom: 278px;
    width: 80px;
    height: 80px;
    border: 3px solid blue;

    text-align: center;
    font-size: 40px;
    font-weight: bolder;
    color: blue;
}

.propagation-change {
    position: absolute;
    bottom: 200px;
    max-width: 100px;
    max-height: 40px;
}

.reset {
    position: absolute;
    bottom: 244px;
    max-width: 100px;
    max-height: 40px;
}

#announcement {
    position: absolute;
    bottom: 180px;
}

