.container {
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    border: 1px solid black;
}

.item1{
    grid-column-start: 1;
    grid-column-end: 4;

    border: 1px solid black;
    text-align: center;
    padding: 5px;
    height: 50px;
}

.item2{
    grid-column-start: 4;
    grid-column-end: 6;

    border: 1px solid black;
    text-align: center;
    padding: 5px;
    height: 50px;
}

/********************************************************************/

.item3a {
    grid-column-start: 1;
    grid-column-end: 2;

    border: 1px solid black;
    text-align: center;
    padding: 5px;
    height: 50px;
}

.item3b {
    grid-column-start: 2;
    grid-column-end: 3;

    border: 1px solid black;
    text-align: center;
    padding: 5px;
    height: 50px;
}

.item3c {
    grid-column-start: 3;
    grid-column-end: 4;

    border: 1px solid black;
    text-align: center;
    padding: 5px;
    height: 50px;
}

.item3d {
    grid-column-start: 4;
    grid-column-end: 5;

    border: 1px solid black;
    text-align: center;
    padding: 5px;
    height: 50px;
}

/********************************************************************/

.item4 {
    grid-column-start: 2;
    grid-column-end: 4;

    border: 1px solid black;
    text-align: center;
    padding: 5px;
    height: 50px;
}