.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

@media (max-width: 800px){
    .card {
        flex: 30%;
        border: 1px solid black;
        max-width: 30%;
    }

    .photo {

    }

    img {
        width: 100%;
    }
}

@media (max-width: 650px){
    .card {
        flex: 47%;
        border: 1px solid black;
        max-width: 50%;
    }
}