img {
    width: 150px;
    height: 150px;
}

ul {
    list-style: none;
    text-align: center;
}

/*DISPLAY FOR DESKTOPS*/

@media (min-width: 1000px){

.container {
    display: grid;
    grid-template-columns: [c1] 28% [c2] 50% [c3] 22% [end];
    grid-template-rows: [r1] 10% [r2] 10% [r3] 70% [r4] 10% [end];
    border: 1px solid red;
}

.header {
    grid-column: 1 / 4;

    grid-row-start: 1;
    grid-row-end: 2;

    width: 100%;

    background-color: white;
    border: 1px solid red;
    padding: 5px;

    text-align: center;
}

.navigation {
    grid-column-start: 2;
    grid-column-end: 3;

    grid-row: r2 / r3;

    display: block;

    background-color: white;
    border: 1px solid red;
    padding: 5px;

    text-align: center;
}

.sidebar {
    grid-column-start: 1;
    grid-column-end: 2;

    grid-row-start: 2;
    grid-row-end: 4;


    background-color: white;
    border: 1px solid red;
    height: 250px;
    padding: 5px;

    text-align: center;

    display: flex;
    flex-direction: column;
    justify-content: space-around;
}



.main {
    grid-column-start: 2;
    grid-column-end: 3;

    grid-row: r3 / r4;

    background-color: white;
    border: 1px solid red;
    padding: 5px;

    text-align: center;
}

.ads{
    grid-column-start: 3;
    grid-column-end: 4;

    grid-row-start: 2;
    grid-row-end: 4;


    background-color: white;
    border: 1px solid red;

    text-align: center;
}

.footer {
    grid-column-start: 1;
    grid-column-end: 4;

    grid-row-start: 4;
    grid-row-end: 5;

    width: 100%;

    background-color: white;
    border: 1px solid red;
    padding: 5px;

    text-align: center;
}

}

/*DISPLAY FOR TABLETS*/

@media(max-width: 1000px){

    .container {
        display: flex;
        flex-direction: row;
        flex-flow: row;
        flex-wrap: wrap;
        column-gap: 2em;
        row-gap: 2em;
    }

    .header {
        flex: 100%;
        min-width: 100%;
        height: 10%;

        border: 3px solid red;
        border-radius: 5px;
    }
    
    .navigation {
        flex: 100%;
        min-width: 100%;
        height: 10%;

        border: 3px solid red;
        border-radius: 5px;
    }
    
    .sidebar {
        flex: 20%;
        min-width: 20%;

        border: 3px solid red;
        border-radius: 5px;
    }

    img {
        flex: 80%;
        min-width: 80%;
    }

    .main{
        flex: 75%;
        min-width: 75%;

        border: 3px solid red;
        border-radius: 5px;
    }
    
    
    
    .ads {
        flex: 20%;
        min-width: 20%;

        border: 3px solid red;
        border-radius: 5px;
    }
    
    .footer {
        flex: 75%;
        min-width: 75%;

        border: 3px solid red;
        border-radius: 5px;
    }
    
}

/*DISPLAY FOR MOBILES*/

@media (max-width: 800px) {
    .container {
        display: flex;
        flex-flow: column;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: center;

        row-gap: 2em;
    }

    .header {
        flex: 10%;
    }

    .navigation {
        flex: 10%;
    }

    .main {
        flex: 50%;
    }

    .sidebar {
        flex: 10%;
    }

    .ads {
        flex: 10%;
    }

    .footer {
        flex: 10%;
    }
}