.container {
    width: 80%;
    height: 625px;
    margin: 0 auto;
    position: relative;
}

/* carousel cards styles */

.carousel-item-container {
    background: white;
    padding: 10px;
    height: 80%;
    position: relative;
    overflow: hidden;
}

.carousel-track {
    padding: 0;
    margin: 0;
    list-style: none;
    position: relative;
    height: 100%;
    transition: transform 250ms ease-in;
}

/* people-position cards*/

.carousel-card {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.picture {
    width: 70%;
    height: 50%;
    align-items: center;
}

.image {
    position: absolute;
    left: 40%;
    top: 10%;
    width: 20%;
    height: 37%;
    object-fit: cover;
    border-radius: 50%;
}

.name {
    align-items: center;
    text-align: center;
    font-size: 17pt;
    font-weight: bold;
    color: black;
}

.title {
    text-align: center;
    text-transform: uppercase;
    font-size: 16pt;
    color: lightseagreen;
}

.description {
    text-align: center;
    font-size: 13pt;
    color: gray
}

/* buttons < and > */

.arrows {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.previous-item {
    cursor: pointer;
}

.next-item {
    cursor: pointer;
}

.random {
    width: 100%;
    display: flex;
    justify-content: center;
}

.random-item {
    width: 150px;
    height: 40px;
    border: 2px solid lightblue;
    font-weight: bolder;
}

.is-hidden {
    display: none;
}

/* display for mobile resolutions */

@media (max-width: 800px) {
    .carousel-item-container {
        background: white;
        height: 80%;
        position: relative;
    }
    
    .picture {
        width: 70%;
        height: 50%;
    }
    
    .image {
        position: absolute;
        left: 20%;
        top: 0;
        width: 60%;
        height: 30%;
        object-fit: cover;
        border-radius: 50%;
    }
}